.header{
    background-color: #D8D9CF;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}
.logo a{
    display: flex;
    text-decoration: none;
}
.logo .icon{
    height: 30px;
    width: 30px;
}
.header h3{
    margin: 0 0 0 7px;
    font-weight: 600;
    color: #1F3442;
}
.NavLink ul{
    margin: 0;
}
.NavLink li{
    list-style-type: none;
    display: inline-block;
}
.NavLink a{
    padding: 0 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}
.NavLink a:hover{
    color: orangered;
}
.style{
    color: orangered !important;
}
.icon{
    display: none;
    width: 30px;
    cursor: pointer;
}
@media screen and (max-width: 767px) {
    .NavLink li {
        display: block;
        padding: 7px 0;
    }
    .icon{
        display: block;
    }
    .menu ul{
        position: absolute;
    }
    .pos{
        position: absolute;
    }
}